@media (min-width: 575px){
    .toggle-button{
        display: none;
    }
}

@media (max-width: 575px){
    .desktop-menu{
        display: none;
    }
    .ui.menu .ui.dropdown .menu.solutions-inner-mobile-menu>.item{
        background-color: rgba(0, 0, 0, .87) !important;
        color: white !important;
    }
}